.div-centered{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.image-centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login{
	max-width: 650px;
	height: auto;
}

.barras{
	padding: 50px;
}

.size-72{ 
	font-size: 72px; 
}
.size-24{
	font-size: 24px;
}
.bar-menu{
	padding-top:165px;
}

.efect:hover{
	margin-top:-20px;
	-webkit-transition: width 2s;
    transition: width 2s;

}

.color-page{
	background: #074E68;
}

.image-round{
	border: 2px solid grey;
	margin: 0;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}

.hover-table tbody tr:hover{
	cursor: pointer;
	background-color: #53A93F;
}


@media screen and (max-width:480px) {
	.efect:hover {
		margin-top: 0;
	}

	.efect {
		margin: auto 0;
		padding: 0;
		margin-top: 0;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}
